{% extends 'layout.html' %}
{% block body %}
<h3>Jelszó módosítás</h3>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.passwordOld.label(class="form-control-label") }}
                {% if form.passwordOld.errors %}
                    {{ form.passwordOld(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.passwordOld.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.passwordOld(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.passwordNew.label(class="form-control-label") }}
                {% if form.passwordNew.errors %}
                    {{ form.passwordNew(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.passwordNew.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.passwordNew(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirmPassword.label(class="form-control-label") }}
                {% if form.confirmPassword.errors %}
                    {{ form.confirmPassword(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirmPassword.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirmPassword(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.send(class="btn btn-outline-warning") }}
            <a href="{{ url_for('account') }}" class="btn btn-outline-secondary"><i class="fa fa-reply"></i>&nbsp;Vissza</a>
        </div>
    </form>
</div>

{% endblock body%}