{% extends 'layout.html' %}
{% block body %}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Üzenet</th>
        </tr>
    </thead>
    <tbody>
        {% for message in messages %}
        <tr>
            <td>
                {{ message.id }}
            </td>
            <td>
                {{ message.text|safe }}
            </td>
            <td>
                <a href="{{ url_for('loadMessage', messageId=message.id) }}" class="btn btn-outline-success"><i class="fa fa-envelope"></i>&nbsp;Olvas</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}