{% extends "layout.html" %} 
{% block body %}
<h3>Üzenet küldés</h3>
<div class="content-section">
    {% if form.toUserId.query|length == 0 %}                        
        <div class="form-group">
            Nincs felhasználó rögzítve!
        </div>
    {% else %}    
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">                
                <div class="form-group">
                    {{ form.toUserId.label(class="form-control-label") }}
                    {% if form.toUserId.errors %}
                        {{ form.toUserId(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.toUserId.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.toUserId(class="form-control form-control-lg") }}
                    {% endif %}
                </div>            
                <div class="form-group">
                    {{ form.subject.label(class="form-control-label") }}
                    {% if form.subject.errors %}
                        {{ form.subject(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.subject.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.subject(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.text.label(class="form-control-label") }}
                    {% if form.text.errors %}
                        {{ form.text(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.text.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <br>
                        {{ form.text(class="form-control-lg textarea-big", cols='70') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.send(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    {% endif %}
</div>
{% endblock body %}