{% extends 'layout.html' %}

{% block body %}

{% if current_user.admin %}
<a href="{{ url_for('register') }}" class="btn btn-outline-info">
    <i class="fa fa-users"></i>&nbsp;<i class="fa fa-plus"></i>&nbsp;Felhasználó felvitele
</a>  
<hr>
{% endif %}
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Név</th>            
            <th scope="col">E-mail cím</th>
            <th scope="col">Adatok</th>
            <th scope="col">Üzenet</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                {{ user.id }}
            </td>
            <td>
                {{ user.fullName }}        
            </td>            
            <td>
                {{ user.email}}        
            </td>
            <td>
                <a href="{{ url_for('userData', userId=user.id) }}" class="btn btn-outline-info"><i class="fa fa-folder"></i>&nbsp;Adatok</a>
            </td>
            <td>
                {% if user != current_user %}
                    <a href="{{ url_for('sendMessage', targetUserId=user.id) }}" class="btn btn-outline-success"><i class="fa fa-envelope"></i>&nbsp;Küldés</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}