{% extends "layout.html" %}
{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dpS", dateFormat='yy-mm-dd') }}
  {{ datepicker.picker(id=".dpE", dateFormat='yy-mm-dd') }}
{% endblock %}
{% block body %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Projekt felvitel
            </legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div> 
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                <br>
                    {{ form.description(class="form-control-lg", rows='20', cols='70') }}
                {% endif %}
            </div>                       
            <div class="form-group">
                {{ form.dateStart.label(class="form-control-label") }}
                {% if form.dateStart.errors %}
                    {{ form.dateStart(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.dateStart.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.dateStart(class="form-control-lg datepicker", type="date") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.dateEnd.label(class="form-control-label") }}
                {% if form.dateEnd.errors %}
                {{ form.dateEnd(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.dateEnd.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.dateEnd(class="form-control-lg datepicker", type="date") }}
                {% endif %}
            </div>                                    
        <div class="form-group">
            {{ form.save(class="btn btn-outline-info") }}
        </div>
    </form>
</div> 
{% endblock body %}