{% extends "layout.html" %}
 {% block body %}
<h3>
    Projekt {% if modify == true %}módosítás{% else %}felvitel{% endif %}
</h3>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">            
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div> 
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                <br>
                    {{ form.description(class="form-control-lg textarea-big", cols='70') }}
                {% endif %}
            </div>                       
            <div class="form-group">
                {{ form.dateStart.label(class="form-control-label") }}
                {% if form.dateStart.errors %}
                    {{ form.dateStart(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.dateStart.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.dateStart(class="form-control-lg datepicker", type="date") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.dateEnd.label(class="form-control-label") }}
                {% if form.dateEnd.errors %}
                    {{ form.dateEnd(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.dateEnd.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.dateEnd(class="form-control-lg datepicker", type="date") }}
                {% endif %}
            </div>                                    
        <div class="form-group">
            {% if modify == true %}
                {{ form.modify(class="btn btn-outline-warning") }}            
            {% else %}
                {{ form.save(class="btn btn-outline-info") }}
            {% endif %}
            <a class="btn btn-outline-secondary" href="{{ url_for('projects') }}">
                <i class="fa fa-reply"></i>&nbsp;Vissza   
            </a>
        </div>
    </form>
</div> 
{% endblock body %}