{% extends 'layout.html' %}
{% block body %}
    <h2>
        Projekt&nbsp;adatlap:&nbsp;{{ project.name }}&nbsp;(#{{project.id}})
    </h2>
    <hr>
    <div class="content-section">
        <fieldset class="form-group">
            <h2>
                Adatok
            </h2>
            <hr>
            <div class="container">        
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Leírás
                    </div>                    
                    <div class="col-8">
                        {{ project.description|replace('\n', '<br />')|safe }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Kezdés
                    </div>                    
                    <div class="col-8">
                        {{ project.dateStart.strftime('%Y-%m-%d') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Végzés
                    </div>                
                    <div class="col-8">
                        {{ project.dateEnd.strftime('%Y-%m-%d') }}
                    </div>
                </div>     
                <hr> 
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Összes könyvelt munkaidő
                    </div>                
                    <div class="col-8">
                        {{ sumHours }} óra
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Állapot
                    </div>                
                    <div class="col-8">
                        {{ getProjectStatus(project.id) }}
                    </div>
                </div>
                <hr>
                <div class="row">   
                    <div class="col-4 font-weight-bold">
                        Vezetők
                        {% if current_user == project.creator %}                                                  
                            <a href="{{ url_for('projectLeaders', projectId=project.id) }}" class="btn btn-outline-info float-right"><i class="fa fa-cog"></i>&nbsp;Kezelés</a>
                        {% endif %}
                    </div>                
                    <div class="col-8">
                        {% if project.leaders.count() %}
                            <ul>
                                {% for user in project.leaders %}
                                <li>
                                    {{ user.fullName }}                                
                                </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Nincs rögzítve vezető a projekthez! 
                            <br>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row">   
                    <div class="col-4 font-weight-bold">
                        Munkatársak
                        {% if current_user == project.creator %}                        
                            <a href="{{ url_for('projectWorkers', projectId=project.id) }}" class="btn btn-outline-info float-right"><i class="fa fa-cog"></i>&nbsp;Kezelés</a>
                        {% endif %}
                    </div>                
                    <div class="col-8">
                        {% if project.workers.count() %}
                            <ul>
                                {% for user in project.workers %}
                                <li>
                                    {{ user.fullName }}                                
                                </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Nincs rögzítve munkatárs a projekthez!
                        {% endif %} 
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Rögzítő felhasználó
                    </div>                
                    <div class="col-8">
                        {{ project.creator.fullName }}
                    </div>
                </div>            
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Rögzítés ideje
                    </div>                
                    <div class="col-8">
                        {{ project.createTime.strftime('%Y-%m-%d %H:%M') }}
                    </div>
                </div>            
            </div> 
        </fieldset>
    </div>
    <!-- Feladatok -->
    <div class="content-section">
        <fieldset class="form-group">
            <h2>
                Projekt feladatok
            </h2>
            <hr>
            {% if current_user in project.leaders or project.creator == current_user %}
                <a href="{{ url_for('addProjectJob',  projectId=project.id) }}" class="btn btn-outline-info">
                    <i class="fa fa-tasks"></i>&nbsp;<i class="fa fa-plus"></i>&nbsp;Feladat felvitele
                </a> 
            {% endif %}
        </fieldset>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Név</th>
                    <th scope="col">Munkatárs</th>
                    <th scope="col">Becsült idő</th> 
                    <th scope="col">Állapot</th> 
                    <th scope="col">Műveletek</th>                
                </tr>
            </thead>
            <tbody>
                {% if project.projectJobs %}
                    {% for projectJob in project.projectJobs %} 
                        <tr>
                            <td>{{ projectJob.name }}</td>
                            <td>{{ getUserName(projectJob.workerUserId) }}</td>
                            <td>{{ projectJob.estimatedTime }}&nbsp;óra</td> 
                            <td>{{ getProjectJobStatus(projectJob.id) }}</td> 
                            <td>
                                <a href="{{ url_for('projectJobData', projectJobId=projectJob.id) }}" class="btn btn-outline-info"><i class="fa fa-folder"></i>&nbsp;Adatok</a>
                                {% if projectJob.creatorUserId == current_user.id %}
                                    <a href="{{ url_for('projectJobModify', projectJobId=projectJob.id) }}" class="btn btn-outline-warning"><i class="fa fa-pencil"></i>&nbsp;Módosítás</a>
                                {% endif %}
                                {% if project.creator == current_user and projectJob.isDone == true and projectJob.seen == false %}
                                    <a href="{{ url_for('projectJobCheckDone', projectJobId=projectJob.id, projectId=project.id) }}" class="btn btn-outline-info"><i class="fa fa-check"></i>&nbsp;Ellenőrzés</a>
                                {% endif %}   
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5">Nincs rögzítve feladat a projekthez!</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% if current_user in project.leaders or project.creator == current_user %}
        <!-- Munkaidők -->
        <div class="content-section">
            <fieldset class="form-group">
                <h2>
                    Projektre könyvelt munkaidők
                </h2>
                <hr>            
            </fieldset>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Feladat név</th>
                        <th scope="col">Munkatárs</th>
                        <th scope="col">Dátum&nbsp;<i class="fa fa-arrow-down"></i></th>
                        <th scope="col">Munkaidő (óra)</th>
                    </tr>
                </thead>
                <tbody>
                    {% if worktimesAll %}
                        {% for worktime in worktimesAll %}
                            <tr>
                                <td>{{ worktime.projectJobName }}</td>
                                <td>{{ worktime.userName }}</td>
                                <td>{{ worktime.date }}</td>   
                                <td>{{ worktime.workTime }}</td>   
                            </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">Nincs könyvelre munkaidő!</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock body %}