{% extends 'layout.html' %}
{% block body %}
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Név</th>
                <th scope="col">Adatok</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr style="vertical-align: center;">
                <td>
                    {{ project.id }}
                </td>
                <td>
                    {{ project.name}}        
                </td>
                <td>
                    <a href="{{ url_for('projectData', projectId=project.id) }}" class="btn btn-outline-info"><i class="fa fa-folder"></i>&nbsp;Adatok</a>
                    <a href="{{ url_for('projectGantt', projectId=project.id) }}" class="btn btn-outline-info"><i class="fa fa-line-chart"></i>&nbsp;Gantt</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}