{% extends 'layout.html' %}

{% block body %}
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Név</th>
        <th scope="col">Adatok</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
      <tr>
        <td>
          {{ project.id }}
        </td>
        <td>
          {{ project.name}}        
        </td>
        <td>
          <a href="{{ url_for('projectData', projectId=project.id) }}">Open</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}