/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
  background: #fafafa;
  color: #333333;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  line-height: 20px; /* Vertically center the text there */
  background-color: #343a40;
}
/* Sticky footer styles
-------------------------------------------------- */

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 20px;  
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-dark {  
  margin-bottom: 20px;  
} 

a {
	outline: none;
}

.navbar-container {
	text-align: center;	
}

.navbar-container ul.navbar-nav.mr-auto.active-ul {
	margin: 0;
	padding: 0;
	text-align: right;	
	vertical-align: middle;
}

.navbar-container ul.navbar-nav.mr-auto.active-ul li {
	display: inline-block;
	font-size: 16px;
}

.navbar-container ul.navbar-nav.mr-auto.active-ul li a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;	
	
	transition: color 0.5s;
}

.navbar-container ul.navbar-nav.mr-auto.active-ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

.navbar-container ul.navbar-nav.mr-auto.active-ul li.active-link .underline {
	width: 100%;
	background-color: #00A0B0;
}

.navbar-container ul.navbar-nav.mr-auto.active-ul li:hover .underline {
	background-color: #00A0B0;
	width: 100%;
}

.navbar-container ul.navbar-nav.mr-auto.active-ul li:hover a {
}

.navbar-container ul.navbar-nav.mr-auto.active-ul li:active a {
	transition: none;
	color: rgba(255,255,255,0.76);
}

.navbar-container ul.navbar-nav.mr-auto.active-ul li:active .underline {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

/*  */
.navbar-container ul.navbar-nav.ml-auto.active-ul-l {
	margin: 0;
	padding: 0;
	text-align: right;	
	vertical-align: middle;
}

.navbar-container ul.navbar-nav.ml-auto.active-ul-l li {
	display: inline-block;
	font-size: 16px;
}

.navbar-container ul.navbar-nav.ml-auto.active-ul-l li a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;	
	
	transition: color 0.5s;
}

.navbar-container ul.navbar-nav.ml-auto.active-ul-l li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

.navbar-container ul.navbar-nav.ml-auto.active-ul-l li.active-link .underline {
	width: 100%;
	background-color: #eb6841;
}

.navbar-container ul.navbar-nav.ml-auto.active-ul-l li:hover .underline {
	background-color: #eb6841;
	width: 100%;
}

.navbar-container ul.navbar-nav.ml-auto.active-ul-l li:hover a {
}

.navbar-container ul.navbar-nav.ml-auto.active-ul-l li:active a {
	transition: none;
	color: rgba(255,255,255,0.76);
}

.navbar-container ul.navbar-nav.ml-auto.active-ul-l li:active .underline {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}