<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand" href="#">Projekt Management Rendszer</div>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse navbar-container" id="navbarSupportedContent">
        {% if current_user.is_authenticated %}     
            <ul class="navbar-nav mr-auto active-ul">
                <li class="nav-link {% if activeLink == 'home' or activeLink == 'index' %} active-link {% endif %}">
                    <a href="/home"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a>
                    <div class="underline"></div>
                </li>                        
                <li class="nav-link {% if activeLink == 'projects' %} active-link {% endif %}">
                    <a href="/projects"><i class="fa fa-list"></i>&nbsp;Projektek</a>
                    <div class="underline"></div>
                </li>           
                <li class="nav-link {% if activeLink == 'addProject' %} active-link {% endif %}" >
                    <a href="/addProject"><i class="fa fa-plus"></i>&nbsp;Projekt felvitele</a>
                    <div class="underline"></div>
                </li>           
                <li class="nav-link {% if activeLink == 'users' %} active-link {% endif %}">
                    <a href="/users"><i class="fa fa-user"></i>&nbsp;Felhasználók</a>
                    <div class="underline"></div>
                </li> 
            </ul>
        {% endif %}        
        <ul class="navbar-nav ml-auto active-ul-l">       
            {% if current_user.is_authenticated %}
                <li class="nav-link {% if activeLink == 'send' %} active-link {% endif %}">
                    <a href="/sendMessage" title="Üzenet küldés"><i class="fa fa-comment"></i></a>
                    <div class="underline"></div>
                </li>
                <li class="nav-link {% if activeLink == 'inbox' %} active-link {% endif %}">
                    <a href="/inbox" title="Bejövő üzenetek"></i><i class="fa fa-envelope"></i></a>
                    {% if getUnreadCount(current_user.id) > 0 %}
                        <span class="button-badge">{{ getUnreadCount(current_user.id) }}</span>
                    {% endif %}
                    <div class="underline"></div>
                </li>                
                <li class="nav-link {% if activeLink == 'sent' %} active-link {% endif %}">
                    <a href="/sent" title="Elküldött üzenetek"><i class="fa fa-paper-plane"></i></a>
                    <div class="underline"></div>
                </li>               
                <div class="vl"></div>     
                <li class="nav-link {% if activeLink == 'account' %} active-link {% endif %}">
                    <a href="/account"><i class="fa fa-user"></i>&nbsp;{{ current_user.fullName }}</a>
                    <div class="underline"></div>
                </li>
                <div class="vl"></div>                
                <li class="nav-link">
                    <a href="/logout"><i class="fa fa-sign-out"></i>&nbsp;Kilépés</a>
                    <div class="underline"></div>
                </li>
            {% else %}                     
                <li class="nav-link">
                    <a href="/login"><i class="fa fa-sign-in"></i>&nbsp;Bejelentkezés</a>
                    <div class="underline"></div>
                </li>
            {% endif %}        
        </ul>
    </div>
</nav>
