{% extends "layout.html" %}
{% block body %}
<div class="content-section">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <input type="hidden" name="projectId" value="{{ projectId }}">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Projekt feladat felvitel
            </legend>
            <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div> 
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <br>
                        {{ form.description(class="form-control-lg textarea-big",cols='70') }}
                    {% endif %}
                </div>                      
                <div class="form-group">
                    {{ form.date.label(class="form-control-label") }}
                    {% if form.date.errors %}
                        {{ form.date(id="datePick", class="form-control form-control-lg is-invalid datepicker", type="date") }}
                        <div class="invalid-feedback">
                            {% for error in form.date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.date(id="datePick", class="form-control-lg datepicker", type="date") }}
                    {% endif %}
                    {{ form.start.label(class="form-control-label") }}
                    {% if form.start.errors %}
                        {{ form.start(class="form-control form-control-lg is-invalid ", type="time") }}
                        <div class="invalid-feedback">
                            {% for error in form.start.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.start( class="form-control-lg", type="time") }}
                    {% endif %}
                </div>               
                <div class="form-group">
                    {{ form.duration.label(class="form-control-label") }}&nbsp;(óra)
                    {% if form.duration.errors %}
                        {{ form.duration(class="form-control form-control-lg is-invalid", type="number", min="1", step="1", placeholder="1") }}
                        <div class="invalid-feedback">
                            {% for error in form.duration.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.duration(class="form-control form-control-lg", type="number", min="1", step="1", placeholder="1") }}
                    {% endif %}                                               
                </div>                
                <div class="form-group">
                    {{ form.estimatedTime.label(class="form-control-label") }}&nbsp;(óra)
                    {% if form.estimatedTime.errors %}
                        {{ form.estimatedTime(class="form-control form-control-lg is-invalid", type="number", min="0.1", step="0.1", placeholder="0,1") }}
                        <div class="invalid-feedback">
                            {% for error in form.estimatedTime.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.estimatedTime(class="form-control form-control-lg", type="number", min="0.1", step="0.1", placeholder="0,1") }}
                    {% endif %}                                               
                </div>   
                <div class="form-group">
                    {{ form.users.label(class="form-control-label") }}
                    {% if form.users.errors %}
                        {{ form.users(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.users.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.users(class="form-control") }}    
                    {% endif %}
                </div>                                  
            <div class="form-group">
                {{ form.save(class="btn btn-outline-info") }}
            </div>
            <a href="{{ url_for('projectData', projectId=projectId) }}" class="btn btn-outline-secondary"><i class="fa fa-reply"></i>&nbsp;Vissza</a>    
        </fieldset>
    </form>
</div> 
{% endblock body %}