{% extends "layout.html" %}
{% block body %}
<h3>
    Projekt feladat {% if modify == true %}módosítás{% else %}felvitel{% endif %}
</h3>
<div class="content-section">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <input type="hidden" name="projectId" value="{{ projectId }}">
        <fieldset class="form-group">
            <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div> 
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <br>
                        {{ form.description(class="form-control-lg textarea-big") }}
                    {% endif %}
                </div>                      
                <div class="form-group">
                    {{ form.date.label(class="form-control-label") }}
                    {% if form.date.errors %}
                        {{ form.date(id="datePick", class="form-control form-control-lg is-invalid datepicker", type="date") }}
                        <div class="invalid-feedback">
                            {% for error in form.date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.date(id="datePick", class="form-control-lg datepicker", type="date") }}
                    {% endif %}
                    {{ form.start.label(class="form-control-label") }}
                    {% if form.start.errors %}
                        {{ form.start(class="form-control form-control-lg is-invalid ", type="time") }}
                        <div class="invalid-feedback">
                            {% for error in form.start.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.start( class="form-control-lg", type="time") }}
                    {% endif %}
                </div>               
                <div class="form-group">
                    {{ form.duration.label(class="form-control-label") }}&nbsp;(óra)
                    {% if form.duration.errors %}
                        {{ form.duration(class="form-control form-control-lg is-invalid", type="number", min="1", step="1", placeholder="1") }}
                        <div class="invalid-feedback">
                            {% for error in form.duration.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.duration(class="form-control form-control-lg", type="number", min="1", step="1", placeholder="1") }}
                    {% endif %}                                               
                </div>                
                <div class="form-group">
                    {{ form.estimatedTime.label(class="form-control-label") }}&nbsp;(óra)
                    {% if form.estimatedTime.errors %}
                        {{ form.estimatedTime(class="form-control form-control-lg is-invalid", type="number", min="0.1", step="0.1", placeholder="0,1") }}
                        <div class="invalid-feedback">
                            {% for error in form.estimatedTime.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.estimatedTime(class="form-control form-control-lg", type="number", min="0.1", step="0.1", placeholder="0,1") }}
                    {% endif %}                                               
                </div>   
                <div class="form-group">
                    {{ form.users.label(class="form-control-label") }}
                    {% if hasSubJob == true %}    
                        <div class="p-3 mb-2 bg-danger text-white">A felhasználó az alfeladatoknál is módosulni fog!</div>                   
                    {% endif %}                   
                    {% if form.users.errors %}
                        {{ form.users(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.users.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.users(class="form-control") }}    
                    {% endif %}
                </div>                                  
            <div class="form-group">
                {% if modify == true %}
                    {{ form.modify(class="btn btn-outline-warning") }}            
                {% else %}
                    {{ form.save(class="btn btn-outline-info") }}
                {% endif %}
                <a href="{{ url_for('projectData', projectId=projectId) }}" class="btn btn-outline-secondary"><i class="fa fa-reply"></i>&nbsp;Vissza</a>    
            </div>
        </fieldset>
    </form>
</div> 
{% endblock body %}