{% extends 'layout.html' %}
{% block body %}
    <h3>Projekt feladat adatlap:&nbsp;{{ projectJob.name }}&nbsp;(#{{projectJob.id}})</h3>  
    <hr>
    {% if projectJob.parentJobId > 0 %}
        <h4>
            {{ getProjectJobName(projectJob.parentJobId) }}&nbsp;(#{{ projectJob.parentJobId }})&nbsp;alfeadata
        </h4>
        <hr>
    {% endif %}
    <div class="content-section">
        <fieldset class="form-group">          
            <div class="container">        
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Projekt
                    </div>                    
                    <div class="col-8">
                        {{ project.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Leírás
                    </div>                    
                    <div class="col-8">
                        {{ projectJob.description|replace('\n', '<br />')|safe }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Kezdés
                    </div>                    
                    <div class="col-8">
                        {{ projectJob.dateStart.strftime('%Y-%m-%d %H:%M') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Végzés
                    </div>                
                    <div class="col-8">
                        {{ projectJob.dateEnd.strftime('%Y-%m-%d %H:%M') }}
                    </div>
                </div>                    
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Hossz
                    </div>                
                    <div class="col-8">
                        {{ projectJob.duration }}&nbsp;óra
                    </div>
                </div>                    
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Becsült idő
                    </div>                
                    <div class="col-8">
                        {% if projectJob.estimatedTime > 0%}
                            {{ projectJob.estimatedTime }}&nbsp;óra
                        {% else %}
                            -
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Összes könyvelt idő
                    </div>                
                    <div class="col-8">
                        {{ sumHours }}&nbsp;óra
                    </div>
                </div>
                <hr>                    
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Felhasználó
                    </div>                
                    <div class="col-8">
                        {{ getUserName(projectJob.workerUserId) }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Rögzítő felhasználó
                    </div>                
                    <div class="col-8">
                        {{ getUserName(projectJob.creatorUserId) }}
                    </div>
                </div>    
                <div class="row">
                    <div class="col-4 font-weight-bold">
                        Rögzítés ideje
                    </div>                
                    <div class="col-8">
                        {{ projectJob.createTime.strftime('%Y-%m-%d %H:%M') }}
                    </div>
                </div>                 
            </div>
        </fieldset>
        <a href="{{ url_for('projectData', projectId=projectJob.projectId) }}" class="btn btn-outline-secondary"><i class="fa fa-reply"></i>&nbsp;Vissza</a>     
    </div>
    <!-- Files -->
    <div class="content-section">
        <fieldset class="form-group">
            <h2>
                Feladathoz feltöltött fájlok
            </h2>                       
            <hr> 
            {% if not projectJob.deleted %}
                <a href="{{ url_for('uploadFileToJob', projectJobId=projectJob.id) }}" class="btn btn-outline-info"><i class="fa fa-file"></i>&nbsp;Fájl feltöltés</a>     
            {% endif %}
        </fieldset>     
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>                    
                    <th scope="col">Munkatárs</th>
                    <th scope="col">Dátum&nbsp;<i class="fa fa-arrow-down"></i></th>
                    <th scope="col">Fájl</th>
                    <th scope="col">Műveletek</th>
                </tr>
            </thead>
            <tbody>
                {% if projectJob.files %}
                    {% for file in projectJob.files %}                        
                        <tr>                         
                            <td>{{ getUserName(file.creatorUserId) }}</td>
                            <td>{{ file.createTime.strftime('%Y-%m-%d %H:%M') }}</td>   
                            <td>{{ file.fileName }}</td>
                            <td>
                                {% if file.deleted %}
                                    Törölt fájl.
                                {% else %}
                                    <a href="{{ url_for('downloadFile', fileId=file.id) }}" class="btn btn-outline-info"><i class="fa fa-download"></i>&nbsp;Letöltés</a> 
                                    {% if current_user.id == file.creatorUserId %}
                                        <a href="{{ url_for('removeFile', fileId=file.id) }}" class="btn btn-outline-danger"><i class="fa fa-remove"></i>&nbsp;Törlés</a>    
                                    {% endif %}
                                {% endif %}
                            </td>   
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4">Nincs fájl feltöltve!</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <!-- Munkaidők -->
    <div class="content-section">
        <fieldset class="form-group">
            <h2>
                Feladatra könyvelt munkaidők
            </h2>
            <hr>            
        </fieldset>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>                    
                    <th scope="col">Munkatárs</th>
                    <th scope="col">Dátum&nbsp;<i class="fa fa-arrow-down"></i></th>
                    <th scope="col">Munkaidő (óra)</th>
                    <th scope="col">Megjegyzés</th>
                </tr>
            </thead>
            <tbody>
                {% if worktimes %}
                    {% for worktime in worktimes %}
                        <tr>                         
                            <td>{{ worktime.userName }}</td>
                            <td>{{ worktime.date.strftime('%Y-%m-%d %H:%M') }}</td>   
                            <td>{{ worktime.workTime }}</td>   
                            <td>{{ worktime.comment|replace('\n', '<br />')|safe }}</td>   
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4">Nincs könyvelve munkaidő!</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% if projectJob.hasSubJob %}
    <!-- Alfeladatok Munkaidők -->
    <div class="content-section">
        <fieldset class="form-group">
            <h2>
                Feladat alfeladataira könyvelt munkaidők
            </h2>
            <hr>            
        </fieldset>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>                    
                    <th scope="col">Feladat név</th>
                    <th scope="col">Munkatárs</th>
                    <th scope="col">Dátum&nbsp;<i class="fa fa-arrow-down"></i></th>
                    <th scope="col">Munkaidő (óra)</th>
                    <th scope="col">Megjegyzés</th>
                </tr>
            </thead>
            <tbody>
                {% if worktimesSubJob %}
                    {% for worktime in worktimesSubJob %}
                        <tr>        
                            <td>{{ worktime.projectJobName }}</td>                 
                            <td>{{ worktime.userName }}</td>
                            <td>{{ worktime.date.strftime('%Y-%m-%d %H:%M') }}</td>   
                            <td>{{ worktime.workTime }}</td>   
                            <td>{{ worktime.comment|replace('\n', '<br />')|safe }}</td>   
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5">Nincs könyvelve munkaidő!</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock body %}